
<div id="confirmModal{{ stepId }}" class="modal fade" role="dialog">
	<div class="vertical-alignment-helper">
		<div class="modal-dialog vertical-align-center">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-2">
							{% if todo == 'configure_recette' or  todo == 'connexion'%}
								<span class="fa fa-info-circle"
								style="color: darkorange; font-size: 100px"></span>
							{% elseif todo == 'remove_product' or todo == 'remove_client' or  todo == 'remove_step' or todo == 'remove_recette' %}
								<span class="fa fa-info-circle"
								style="color: lightblue; font-size: 100px"></span>
							{% endif %}
						</div>
						<div class="col-lg-10">
							<p
								style="display: table-cell; vertical-align: middle; height: 100px">
								{{ message }}
							</p>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					{% if todo == 'remove_recette' %}
					<a class="btn michou-btn"
						href="{{ path('configuration_recette_controller_remove',{'recetteId': recetteId}) }}">Oui</a>
					<a type="button" class="btn btn-default"
						href="{{ path('configuration_controller_update',{'cfg':'rct'}) }}">Non</a>
					{% elseif todo == 'remove_step'%}
					<a class="btn michou-btn" type="button"
						href="{{ path('confirm_controller_remove_step',{'recetteId':recetteId, 'stepId':step.id})}}">Oui</a>
					<button   data-dismiss="modal" class="btn btn-default">Non</button>
					{% elseif todo == 'configure_recette' %}
					<a class="btn michou-btn"
						href="{{ path('configure_recette_controller_configure_recette',{'id':recetteId}) }}">Ok</a>
					{% elseif todo == 'connexion'%}
					<a class="btn michou-btn"
						href="{{ path('connexion_controller_connexion') }}">Ok</a>
					{% elseif todo == 'remove_product'%}
					<a class="btn michou-btn" type="button"
						href="{{ path('configuration_produit_controller_delete',{'id':recetteId, '_locale':app.request.locale})}}">Oui</a>
					<button   data-dismiss="modal" class="btn btn-default">Non</button>
					{% elseif todo == 'remove_client'%}
					<a class="btn michou-btn" type="button"
						href="{{ path('compte_controller_delete',{'id':recetteId, '_locale':app.request.locale})}}">Oui</a>
					<button   data-dismiss="modal" class="btn btn-default">Non</button>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('#confirmModal').modal({
		backdrop : 'static',
		show : true,
		keyboard : false
	})
</script>

