{% block body %}
	<div class="form-group" class="col-lg-12">
			<input id="tfFiltreProduit" type="text"  class="form-control" placeholder="chercher un produit ...">
		</div>
    <table  class="col-lg-12">
    	<thead>
    		<th></th>
    		<th>Nom</th>
    		<th>Prix</th>
    		<th>Categorie</th>
    		<th>Quantite</th>
    		<th>Disponibilité</th>
    		<th>Etat</th>
    		<th><a class="fa fa-plus-circle" href="" style="color:#fff" data-toggle="modal" data-target="#produitModal"></a></th>
    		<th></th>
    	</thead>
    	<tbody id="tbProduits">
		    {% for produit in produits %}
        		<tr>
            		<td><input type="checkbox"></td>
            		<td>{{ produit.nom }}</td>
            		<td>{{ produit.prix }} €</td>
            		<td>{{ produit.categorie  }}</td>
            		<td>{{ produit.quantite }}</td>
            		<td>{% if produit.disponible == '1' %} oui {% else %} Non {% endif %}</td>
            		<td>{{ produit.etat }}</td>
        			<td><a class="fa fa-edit" href="{{ path('configuration_produit_controller_editer',{'id':produit.id}) }}"  style="color:darkorange"></a></td>
        			<td><a class="fa fa-trash" href="{{ path('configuration_produit_controller_delete',{'id':produit.id}) }}"  style="color:red"></a></td>
        		</tr>
    		{% endfor %}
    	</tbody>
    </table>
<script>
    $("#tfFiltreProduit").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#tbProduits tr").filter(function() {
			$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
</script>

{% endblock %}
