	<div class="form-group" class="col-lg-12">
			<input id="tfFiltreProduit" type="text"  class="form-control" placeholder="{{ 'mma.productcatalog.searchproduct'|trans }}">
		</div>
    <table  class="table table-hover">
    	<thead>
    		<th>{{ 'mma.productcatalog.productimage'|trans  }}</th>
    		<th>{{ 'mma.productcatalog.productname'|trans }}</th>
    		<th>{{ 'mma.productcatalog.productprice'|trans }}</th>
    		<th>{{ 'mma.productcatalog.productcategory'|trans }}</th>
    		<th>{{ 'mma.productcatalog.productquantity'|trans }}</th>
    		<th>{{ 'mma.productcatalog.productavailable'|trans }}</th>
    		<th>{{ 'mma.productcatalog.productstate'|trans }}</th>
    		<th></th>
    		<th><a class="fa fa-plus-circle" href="" style="color:#33cc33;font-size:30px; text-align: center;align-content:center; " data-toggle="modal" data-target="#produitModal"></a></th>
    		
    	</thead>
    	<tbody id="tbProduits">
		    {% for produit in produits %}
        		<tr scope="row">
            		<td scope="col"><img src="/uploads/brochures/{{produit.image}}" style="max-height: 150px; max-width: 150px"></img></td>
            		<td scope="col">{{ produit.nom }}</td>
            		<td scope="col">{{ produit.prix }} €</td>
            		<td scope="col">{{ produit.categorie|findvalue(app.request.locale) }}</td>
            		<td scope="col">{{ produit.quantite }}</td>
            		<td scope="col">{% if produit.disponible == '1' %} oui {% else %} Non {% endif %}</td>
            		<td scope="col">{{ produit.etat }}</td>
        			<td scope="col"><a class="fa fa-edit" href="{{ path('configuration_produit_controller_editer',{'id':produit.id}) }}"  style="color:darkorange;"></a></td>
        			<td scope="col"><a class="fa fa-trash" style="margin-left: -3px; color:red; align-content:center; text-align: center;"
					data-toggle="modal" data-target="#confirmModal{{produit.id}}"></a></td>
        			
        		</tr>
			{{  include("confirm/confirm.html.twig", {'stepId':produit.id,'todo':'remove_product', 'recetteId':produit.id, 'message':'Voulez vous vraiment suprimer ce produit?'}) }}
    		{% endfor %}
    	</tbody>
    </table>

	<div id="produitModal" id="contact_dialog" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Inserer un produit</h4>
				</div>
				<div class="modal-body">
                    {{ include('configuration/produits/create.html.twig') }}
				</div>
			</div>
		</div>
	</div>
<script>
    $("#tfFiltreProduit").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#tbProduits tr").filter(function() {
			$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
</script>
