<div class="row">
	<div class="col-lg-12">
    	<label>Name</label>
    	<input class="form-control form-group" onkeyup="checkNameLength(this.value)" name="nameDE"  value="{{ produit.nameDE }}" required></input>
    	<label>Preis</label>
    	<input class="form-control form-group" id="preis" type="number"  name="preis" onkeyup="fillOderFields(this.value,'prix','price')"  value="{{ produit.preis }}" required></input>
    	<label>Zustand</label>
    	<select class="form-control form-group" id="zustand" name="zustand"   value="{{ produit.zustand }}" onchange="onChange('zustand', this.value,'state')">
    		<option value="New">Neue</option>
    		<option value="Offer">In Angebot</option>
    	</select>
    	<label>Kategorie</label>
    	<select class="form-control form-group" id="kategorie" name="kategorie" value="{{ produit.kategorie }}" onchange="onChange('kategorie', this.value,'cat')" required>
    	{% for cn in  categoryNodeList %}
			<option value="{{ cn.id }}" >{{ cn.de }}</option>
		{% endfor %}
    	</select>
    	<label>Menge</label>
    	<input class="form-control form-group" name="menge" type="number" id='menge'  onkeyup="fillOderFields(this.value,'quantite','quantity')"  value="{{ produit.menge }}"></input>
		<div style="float:left;margin-right:5px">
    		<label>Verfügbar</label> 
    		<input type="checkbox" name="verfuegbar"  id='verfuegbar'  value="{{ produit.verfuegbar }}" class="available" ></input>
		</div>
		<i class="fa fa-info-circle" title="Activation" data-placement="top"  data-toggle="popover" data-trigger="hover" data-content="En activant ce produit il sera presenté dans la liste des produits" style="color:darkorange"></i>
        <br>
	</div>
</div>
<div class="col-lg-12 form-group"></div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel-group">
          <div class="panel panel-default">
          	<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" style="float:left;vertical-align: middle;"
						href="#collapseDE">{{ 'mma.product.offer'|trans }}</a> <input type="checkbox" class="produit_action_cb" name="angebot" id="angebot" value="{{ produit.action }}"></input>
				</h4>
			</div>
            <div id="collapseDE" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="col-lg-6">
                	<label>Start Datum</label> 
                	<input class="form-control produit_action_tf js-datepicker form-group" type="date" id='angebotStartDatum' name="angebotStartDatum" value="{{ produit.angebotStartDatum }}"  onfocus="fillOderFields(this.value,'offerStartDate','actionDebut')"></input>
                </div>
                <div class="col-lg-6">
               		<label>End Datum</label> 
                	<input class="form-control produit_action_tf js-datepicker form-group"  type="date" id='angebotEndDatum' name="angebotEndDatum" value="{{ produit.angebotEndDatum }}"  onfocus="fillOderFields(this.value,'offerEndDate','actionFin')"></input>
                </div>
                <div class="col-lg-6">
                	<label>% Rabatt</label> 
                    <input class="form-control produit_action_tf  form-group" id='rabatt'  type="number" name="rabatt" value="{{ produit.rabatt }}"  onkeyup="fillOderFields(this.value,'reduction','pourcentageDeRabait')"></input>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>                        
</diV>
<div class="row">
    <div class="col-lg-12">
        <label>Beschreibung</label>
        <textarea class="form-control" cols="5" id="descriptionDE" name="descriptionDE" rows="4" value="{{ produit.descriptionDE }}"></textarea>
    </div>
</div>


