<div class="row">
    <div class="col-lg-6">
    	<label>Nom</label>
    	<input class="form-control form-group" name="nomFR"  value="{{ produit.nom }}"></input>
    	<label>Prix</label>
    	<input class="form-control form-group" ng-model='prix' value="{{ produit.prix }}"></input>
    	<label>Etat</label>
    	<select class="form-control form-group" ng-model='etat' value="{{ produit.etat }}">
    		<option value="New">Neuf</option>
    		<option value="En solde">En solde</option>
    	</select>
    	<label>Categorie</label>
    	<select class="form-control form-group" name="categorie"  value="{{ produit.category }}">
    		<option value="null">--Selectionez--<option>
    		<option value="fruits" >fruits</option>
    		<option value="épices">épices</option>
    		<option value="légumes">légumes</option>
    		<option value="farines et sémoules">farines et sémoules</option>
    		<option value="viandes crus">viandes crus</option>
    		<option value="viandes fumées">viandes fumées</option>
    		<option value="crustacés">crustacés</option>
    		<option value="conserves">conserves</option>
    	</select>
    	<label>Quantite</label>
    	<input class="form-control form-group" ng-model='quantite' value="{{ produit.quantite }}"></input>
		<div style="float:left;margin-right:5px">
    		<label>Activ</label> 
    		<input type="checkbox"  ng-model='actif'  value="{{ produit.actif }}"></input>
		</div>
		<div style="float:left;margin-right:5px">
    		<label>Disponible</label> 
    		<input type="checkbox" ng-model='disponible'  value="{{ produit.disponible }}"></input>
		</div>
		<i class="fa fa-info-circle" title="Activation" data-placement="top"  data-toggle="popover" data-trigger="hover" data-content="En activant ce produit il sera presenté dans la liste des produits" style="color:darkorange"></i>
        <br>
    </div>
    <div class="col-lg-6">
        	<img src="/uploads/brochures/{{ produit.image }}"
				style="width: 350px; min-height: 300px" class="img-rounded" ></img>
    	<div class="form-group">
    		<input type="file"></input>
    	</div>
        <button class="btn">Upload foto</button>
    </div>
</div>
<div class="col-lg-12 form-group"></div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel-group">
          <div class="panel panel-default">
          	<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" style="float:left;vertical-align: middle;"
						href="#collapse2">{{ 'mma.product.offer'|trans }}</a> <input type="checkbox" class="produit_action_cb" name="action" value="{{ produit.action }}"></input>
				</h4>
			</div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="col-lg-6">
                	<label>actionDebut</label> 
                	<input class="form-control produit_action_tf js-datepicker form-group" ng-model='actionDebut' name="actionDebut" value="{{ produit.actionDebut }}"></input>
                </div>
                <div class="col-lg-6">
               		<label>actionFin</label> 
                	<input class="form-control produit_action_tf js-datepicker form-group" ng-model='actionFin' name="actionFin" value="{{ produit.actionFin }}"></input>
                </div>
                <div class="col-lg-6">
                	<label>pourcentageDeRabait</label> 
                    <input class="form-control produit_action_tf  form-group" ng-model='pourcentageDeRabait' name="pourcentageDeRabait" value="{{ produit.pourcentageDeRabait }}"></input>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>                        
</diV>
<div class="row">
    <div class="col-lg-12">
        <label>Description</label>
        <textarea class="form-control" cols="5" rows="4" name ="descriptionFR"></textarea>
    </div>
</div>


