<div class="row">
    <div class="col-lg-6">
    	<label>Name</label>
    	<input class="form-control form-group" name="nameDE"  value="{{ produit.nameDE }}"></input>
    	<label>Preis</label>
    	<input class="form-control form-group" name="prix"  ng-model='prix' value="{{ produit.prix }}"></input>
    	<label>Zustand</label>
    	<select class="form-control form-group" name="etat"  ng-model='etat' value="{{ produit.etat }}">
    		<option value="New">Neue</option>
    		<option value="In Angebot">In Angebot</option>
    	</select>
    	<label>Kategorie</label>
    	<select class="form-control form-group" name="kategorie"  value="{{ produit.kategorie }}">
    		<option value="null">--Bitte wählen--<option>
    			<option value="fruits" >Früchte</option>
    		<option value="épices">Gewürze</option>
    		<option value="légumes">Gemüse</option>
    		<option value="farines et sémoules">Mehl und Gries</option>
    		<option value="viandes crus">Rohes Fleisch</option>
    		<option value="viandes fumées">Getrockene Fleich</option>
    		<option value="crustacés">Lax</option>
    		<option value="conserves">Dosen</option>
    	</select>
    	<label>Menge</label>
    	<input class="form-control form-group" name="quantite" ng-model='quantite'   value="{{ produit.quantite }}"></input>
		<div style="float:left;margin-right:5px">
    		<label>Activ</label> 
    		<input type="checkbox" name="actif"  ng-model='actif'  value="{{ produit.actif }}"></input>
		</div>
		<div style="float:left;margin-right:5px">
    		<label>Verfügbar</label> 
    		<input type="checkbox" name="disponible"  ng-model='disponible'  value="{{ produit.disponible }}"></input>
		</div>
		<i class="fa fa-info-circle" title="Activation" data-placement="top"  data-toggle="popover" data-trigger="hover" data-content="En activant ce produit il sera presenté dans la liste des produits" style="color:darkorange"></i>
        <br>
    </div>
    <div class="col-lg-6">
        	<img src="/uploads/brochures/{{ produit.image }}"
				style="width: 350px; min-height: 300px" class="img-rounded" ></img>
    	<div class="form-group">
    		<input type="file"></input>
    	</div>
        <button class="btn">Upload foto</button>
    </div>
</div>
<div class="col-lg-12 form-group"></div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel-group">
          <div class="panel panel-default">
          	<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" style="float:left;vertical-align: middle;"
						href="#collapse2">{{ 'mma.product.offer'|trans }}</a> <input type="checkbox" class="produit_action_cb" name="action" value="{{ produit.action }}"></input>
				</h4>
			</div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="col-lg-6">
                	<label>Start Datum</label> 
                	<input class="form-control produit_action_tf js-datepicker form-group" ng-model='actionDebut' name="actionDebut" value="{{ produit.actionDebut }}"></input>
                </div>
                <div class="col-lg-6">
               		<label>End Datum</label> 
                	<input class="form-control produit_action_tf js-datepicker form-group" ng-model='actionFin' name="actionFin" value="{{ produit.actionFin }}"></input>
                </div>
                <div class="col-lg-6">
                	<label>% Rabatt</label> 
                    <input class="form-control produit_action_tf  form-group" ng-model='pourcentageDeRabait' name="pourcentageDeRabait" value="{{ produit.pourcentageDeRabait }}"></input>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>                        
</diV>
<div class="row">
    <div class="col-lg-12">
        <label>Beschreibung</label>
        <textarea class="form-control" cols="5" name="descriptionDE" rows="4"></textarea>
    </div>
</div>


