<div class="row">
	<div class="col-lg-12">
    	<label>Nom</label>
    	<input class="form-control form-group" name="nom"  value="{{ produit.nom }}" required></input>
    	<label>Prix</label>
    	<input class="form-control form-group" type="number" onkeyup="fillOderFields(this.value,'preis','price')" id="prix" name="prix" value="{{ produit.prix }}" required></input>
    	<label>Etat</label>
    	<select class="form-control form-group" id="etat"  value="{{ produit.etat }}" onchange="onChange('etat', this.value,'state')" value="{{ produit.etat }}" >
    		<option value="New">Neuf</option>
    		<option value="Offer">En solde</option>
    	</select>
    	<label>Categorie</label>
    	<select class="form-control form-group" id="categorie"  name="categorie"  value="{{ produit.categorie }}"   onchange="onChange('categorie', this.value,'cat')" required>
    		{% for cn in  categoryNodeList %}
    			<option value="{{ cn.id }}" >{{ cn.fr }}</option>
    		{% endfor %}
    	</select>
    	<label>Quantite</label>
    	<input class="form-control form-group" id='quantite' type="number"   onkeyup="fillOderFields(this.value,'menge','quantity')"  value="{{ produit.quantite }}" ></input>
		<div style="float:left;margin-right:5px">
    		<label>Disponible</label> 
    		<input type="checkbox" id='disponible' class="available" value="{{ produit.disponible }}"></input>
		</div>
		<i class="fa fa-info-circle" title="Activation" data-placement="top"  data-toggle="popover" data-trigger="hover" data-content="En activant ce produit il sera presenté dans la liste des produits" style="color:darkorange"></i>
        <br>
	</div>
</div>
<div class="col-lg-12 form-group"></div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel-group">
          <div class="panel panel-default">
          	<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" style="float:left;vertical-align: middle;"
						href="#collapseFR">{{ 'mma.product.offer'|trans }}</a> <input type="checkbox" class="produit_action_cb" name="action" id="action"></input>
				</h4>
			</div>
            <div id="collapseFR" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="col-lg-6">
                	<label>actionDebut</label> 
                	<input class="form-control produit_action_tf js-datepicker form-group" type="date" id='actionDebut' onfocus="fillOderFields(this.value,'offerStartDate','angebotStartDatum')"  value="{{ produit.actionDebut }}"></input>
                </div>
                <div class="col-lg-6">
               		<label>actionFin</label> 
                	<input class="form-control produit_action_tf js-datepicker form-group"  type="date"  id='actionFin' onfocus="fillOderFields(this.value,'offerEndDate','angebotEndDatum')"  value="{{ produit.actionFin }}"></input>
                </div>
                <div class="col-lg-6">
                	<label>pourcentageDeRabait</label> 
                    <input class="form-control produit_action_tf  form-group" id='pourcentageDeRabait'  type="number"  onkeyup="fillOderFields(this.value,'rabatt','reduction')"  value="{{ produit.pourcentageDeRabait }}"></input>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>                        
</diV>
<div class="row">
    <div class="col-lg-12">
        <label>Description</label>
        <textarea class="form-control" cols="5" rows="4" name ="descriptionFR" value="{{ produit.descriptionFR }}"></textarea>
    </div>
</div>


