{% extends 'base.html.twig' %}

{% block body %}

	<div class="row">
		<b>{{ recette.nom }}</b>
	</div>
	<div class="row divider"></div>
	{% if recette.ingredients|length == 0 %}
	<div class="row  alert alert-info" role="info">
		<p>{{ 'mma.recipecatalog.recipenotconfigured'|trans }}</p>
	</div>
	{% else %}
	<div class="row">
		<div class="col-lg-6">
			{% for step in recette.steps %}
			<div class="panel panel-default">
				<div class="panel-body">
					{{ step.description }}
					<span class="badge pull-right">{{ step.temps }} min</span>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="col-lg-1 divider-vertical"></div>
		<div class="col-lg-4">
			<div class="panel panel-success">
				<div class="panel-heading">{{ 'mma.configurerecipe.listofingredient'|trans }}</div>
				<div class="panel-body">
					<ul>
						{% for ingredient in recette.ingredients %}
						<li>{{ ingredient.nom }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/recettes.css')}}" />
{% endblock %}
