{% extends 'base.html.twig' %}

{% block body %}

	<div class="row">
		<p class="pull-left">{{ 'mma.connection.authenticateyourself'|trans }}</p>
	</div>
	<div class="row divider"></div>
{{  include("commun/error-info-success.html.twig") }}
	<div class="row">
		<div class="col-lg-5 well">
			<p>{{ 'mma.connection.createyouraccount'|trans }}</p>
			<div class="divider"></div>

			<form method="post" action="/{{ app.request.locale }}/creer-compte">
				<div class="form-group">
					<label for="inputEmail3">E-mail</label> <input type="email"
						name="email" required="true" class="form-control" id="inputEmail"
						placeholder="Email">
				</div>
				<div class="form-group">
					<button class="btn form-control"
						style="background-color: #33cc33; color: #fff; text-align: top;"
						type="submit">
						<i class="fa fa-user-circle" style="font-size: 20px; color: #fff;"></i>
						{{ 'mma.connection.create'|trans }}
					</button>
				</div>
			</form>
		</div>
		<div class="col-lg-1"></div>
		<div class="col-lg-5  well"">
			<div class="fa fa-user-circle" style="font-size: 100px; width:100%; color: lightblue;text-align: center; "></div>
			<div class="divider"></div>
				{{ form_start(sEnregisterForm) }}
				{{ form_widget(sEnregisterForm) }}
				<div class="modal-footer" style="padding-left:0px;padding-right:0px">
					<button type="submit" class="btn michou-btn form-control">
					<i class=" fa fa-lock" style="font-size: 20px; color: #fff"></i>
					{{ 'mma.connection'|trans }}
					</button>
				</div>
				<a href="{{ path('connection_controller_mot_de_pas_oublie',{'_locale':app.request.locale}) }}" class="pull-left">{{ 'mma.connection.passwordvorgoten'|trans }}</a>
				{{ form_end(sEnregisterForm) }}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
<script src="{{asset('/js/connection.js')}}"></script>
{% endblock %}