    {{ form_start(categoryNodeForm) }}
    <div class="modal-body">
        {{ form_widget(categoryNodeForm) }}
	</div>
    <div class="modal-footer" style="padding-left:0px;padding-right:0px">
    	<button type="submit" class="btn btn-">
    	    {{ 'mma.save'|trans }}
    	</button>
    	<a href="{{ path('configuration_controller_init',{'_locale':app.request.locale}) }}" class="btn btn-primary" style="margin-right: 10px">Annuler</a>
    </div>
    {{ form_end(categoryNodeForm) }}
