{% extends 'base.html.twig'  %}
{% block body %}
	<div class="row">{{ 'mma.profil.myprofil'|trans }}</div>
	<div class="row divider"></div>
	<div class="row ">
		<div class="pull-left">
			<b>{{ 'mma.profil.privateinformation'|trans }}</b>
		</div>
		<a class="fa fa-edit pull-right" href=""  data-toggle="modal" data-target="#editerDonneesPersoModal"></a>
	</div>
	<div class="row">
		<table class="col-lg-12 well">
			<tr>
				<td><b>{{ 'mma.profil.title'|trans }}:</b></td>
				<td>{{ compte.titre }}</td>
			<tr>
			<tr>
				<td><b>{{ 'mma.profil.firstname'|trans }}:</b></td>
				<td>{{ compte.nom }}</td>
			<tr>
			<tr>
				<td><b>{{ 'mma.profil.lastname'|trans }}:</b></td>
				<td>{{ compte.prenom }}</td>
			<tr>
			<tr>
				<td><b>{{ 'mma.profil.birthdate'|trans }}:</b></td>
				<td>{{ compte.dateDeNaissance|date('Y-m-d') }}</td>
			<tr>
			<tr>
				<td><b>{{ 'mma.profil.currentrole'|trans }}:</b></td>
				<td>{{ compte.role }}</td>
			<tr>
		</table>
	</div>
	<div class="row ">
		<div class="pull-left">
			<b>{{ 'mma.profil.connexiondata'|trans }}</b>
		</div>
		<a class="fa fa-edit pull-right" href=""  data-toggle="modal" data-target="#editerLoginModal"></a>
	</div>

	<div class="row">
		<table class="col-lg-12 well">
			<tr>
				<td><b>{{ 'mma.profil.email'|trans }}:</b></td>
				<td>{{ compte.login.email }}</td>
			<tr>
				<td><b>{{ 'mma.profil.password'|trans }}:</b></td>
				<td>{{ compte.login.motDePass }}</td>
			<tr>
		</table>
	</div>

	<div class="row ">
		<div class="pull-left">
			<b>{{ 'mma.profil.adresses'|trans }}</b>
		</div>
		<a class="fa fa-plus-circle pull-right" href="" style="color:#33cc33"  data-toggle="modal" data-target="#ajouterAdressseModal"></a>
	</div>


	<div class="row">
		<table class="col-lg-12 well">
			<tr>
				<td><b>{{ 'mma.profil.adress'|trans }}:</b></td>
				<td>
					<table>
						{% for adresse in compte.adresses %}
						<tr>
							<td>{{ adresse.boitePostale }}</td>
							<td>{{ adresse.pays }}</td>
							<td>{{ adresse.ville }}</td>
							<td>{{ adresse.rueEtNr }}</td>
							<td><a  class="fa fa-edit" href="" data-toggle="modal" data-target="#editerAdressesModal{{ adresse.id }}"></a></td>
							<td><a  class="fa fa-close" style="color:red" href="{{ path('profil_controller_delete_adresse',{'id':adresse.id}) }}" ></a></td>
						</tr>
                        {{  include("profil/editer-adresses.html.twig", {'adresse':adresse}) }}
						{% endfor %}
					</table>
				</td>
			<tr>
		</table>
	</div>

{{  include("profil/editer-login.html.twig") }}
{{  include("profil/editer-donnees-perso.html.twig") }}
{{  include("profil/creer-adresse.html.twig",{'id':compte.id}) }}

{% endblock %}
{% block javascripts %}
{% endblock %}