
{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col-lg-4">
			<img src="/uploads/brochures/{{ produit.image  }}" class="img-thumbnail"
				style="height: 250px;" />
		</div>
		<div class="col-lg-5">

			<table>
				<tr>
					<td><h2 class="bold">nom:</h2</td>
					<td style="margin-left: 10px"><h2>
							{{ produit.nom  }}
						</h2></td>
				</tr>
				<tr>
					<td><b>R&eacute;f&eacute;rence:</b></td>
					<td>{{ produit.reference}}</td>
				</tr>
				<tr>
					<td><b>&eacute;tat:</b></td>
					<td>{{ produit.etat}}</td>
				</tr>
				<tr>
					<td><b>Quantit&eacute; disponible:</b></td>
					<td>{{produit.quantite}} produits</td>
				</tr>
				<tr>
					<td><a href=""><i class="fa fa-envelope"> Envoye a un
								ami</i></a></td>
				</tr>
			</table>

		</div>
		<div class="col-lg-3">
			<form method="get" action="/{{ app.request.locale }}/produit/{{produit.id}}">
				<table>
					<tr>
						<td><h2>
								<b>{{produit.prix}} €</b>
							</h2></td>
					</tr>
					<tr>
						<td>
							<div class="input-group">
								<span class="input-group-btn">
									<button type="button"
										class="quantity-left-minus btn btn-danger btn-number"
										data-type="minus" data-field="">
										<span class="glyphicon glyphicon-minus"></span>
									</button>
								</span> <input type="text" id="quantity" name="quantite"
									class="form-control input-number" value="1" min="1" max="100">
								<span class="input-group-btn">
									<button type="button"
										class="quantity-right-plus btn btn-success btn-number"
										data-type="plus" data-field="">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
								</span>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<button type="submit" class="btn fa fa-cart-plus" style="font-size: 100px"></button>
						</td>
					</tr>
				</table>
			</form>
		</div>
<script src="{{asset('js/produit.js')}}"></script>
</div>
{% endblock %}
