<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}mon marché africain{% endblock %}</title>

<link rel="icon" type="image/x-icon" href="{{ asset('/images/mon-marche-africain-ico.ico') }}" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
	
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="{{ asset('bundles/fosjsrouting/js/router.js')}}"></script>
<script src="{{asset('js/fos_js_routes.js')}}"></script>

<script src="{{asset('js/michouafroshop.core.js')}}"></script>

<link href="{{ asset('css/michouafroshop.css') }}" rel="stylesheet" />
<link href="{{ asset('css/admin-menu.css') }}" rel="stylesheet" />
<link href="{{ asset('css/card.css') }}" rel="stylesheet" />
<link href="{{ asset('css/tree.css') }}" rel="stylesheet" />
{% block stylesheets %}
{% endblock %}
{% block javascripts %}

{% endblock %}
</head>

<body >
	<div style="width:100%; background-color: #33cc33; height: 100px";>
		<div style="width:95%; height:30px; float:left"></div>
		<div style="width:5%; float:left; line-height: 100px">
			<a href="{{ path('admin_controller_logout') }}" class="fa fa-power-off btn" style="font-size:50px; color:#fff;background-color: transparent;"></a>
		</div>
	</div>
	
    						{% block body %}
    						{% endblock %}
		
<script>

function fillOderFields(value, idx, idy){
    	document.getElementById(idx).value = value;
    	document.getElementById(idy).value = value;
}
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();  
    /*$('.js-datepicker').datepicker({
        format: 'yyyy-mm-dd'
    });*/
});
    $('.produit_action_cb').click(function(e){
    	var value = this.checked;
    	var tfs = document.getElementsByClassName('produit_action_tf');
        for(var i = 0; i < tfs.length; i++){
        	var tf = tfs[i];
        	if(!value){
            	tf.value = "";
        	}
        	tf.disabled =  !value;
        }
        var cbs = document.getElementsByClassName('produit_action_cb');
        for(var i = 0; i < cbs.length; i++){
        	var cb = cbs[i];
        	cb.checked = value;
        }
    });
    $('.available').click(function(e){
        var availables = document.getElementsByClassName('available');
        for(var i = 0; i < availables.length; i++){
        	var available = availables[i];
        	available.checked = this.checked;
        }
     });

    function initOffer(){
    	var tfs = document.getElementsByClassName('produit_action_tf');
    	if(!$('.produit_action_cb').checked == true){
    		for(var i = 0; i < tfs.length; i++){
    			var tf = tfs[i];
            	tf.disabled =  true;
    		}
        }
		
     }
    function onChange(id,value,type){
        id1 = id2 = "";
        if(type == 'state'){
        	if(id == 'state'){
                id1 = 'zustand';
                id2 = 'etat';
            }else if(id == 'etat'){
                id1 = 'zustand';
                id2 = 'state';
            }else if(id == 'zustand'){
                id1 = 'etat';
                id2 = 'state';
            }
        } else if(type == 'cat'){
        	if(id == 'category'){
                id1 = 'categorie';
                id2 = 'kategorie';
            }else if(id == 'categorie'){
                id1 = 'category';
                id2 = 'kategorie';
            }else if(id == 'kategorie'){
                id1 = 'categorie';
                id2 = 'category';
            }
        }
        
    	$("#"+id1+" option[value='"+value+"']").attr("selected", true);
    	$("#"+id2+" option[value='"+value+"']").attr("selected", true);
    }
</script>				
</body>
</html>
