{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
	<i class="fa fa-bars" style="color: #33cc33"></i> {{ 'mma.categories'|trans }}
</div>
<div class="row divider"></div>
<div class="row">
	<div class="col-lg-9"></div>
	<div class="col-lg-3">
		<Button class="btn fa fa-filter pull-right" id="filtre"
			onclick="toggleShowEraser()"
			style="font-size: 24px; margin-bottom: 10px; color: lightgreen;"
			data-toggle="collapse" data-target="#collapseExample"
			aria-expanded="false" aria-controls="collapseExample"></Button>
		<button class="btn fa fa-eraser pull-right"
			title="reinitialiser le filtre" id="eraser" onclick="resetFilter()"
			style="font-size: 24px; margin-bottom: 10px; color: #ff9999; display: none;">
		</button>
	</div>
	<div class="col-lg-12">
		<div class="collapse" id="collapseExample">
			<div class="well">
				<form method="post"  novalidate="novalidate" action="{{ path('categories_controller_filtre',{'cat': cat,'_locale':app.request.locale, 'affichage':affichage}) }}">
					<div class="form-group">
						<label for="amount">{{ 'mma.categories.filtre.price'|trans }}</label>
						<div class="row">
							<div class="col-lg-2">
								<input type="number" id="minprice" name="minprice" 
								readonly style="border: 0; color: #f6931f; font-weight: bold;width: 80px">
							</div>
							<div class="col-lg-8">
								<div id="slider-range"></div>
							</div>
							<div class="col-lg-2">
								<input type="number" id="maxprice" name="maxprice" 
								readonly style="border: 0; color: #f6931f; font-weight: bold;width: 80px">
							</div>
						</div> 
						
						
					</div>
					<div class="form-group">
						<label>{{ 'mma.categories.filtre.sortby'|trans }}:</label> 
						<select class="form-control" name="sortby" id="sortby">
							<option value="null">{{ 'mma.categories.filtre.choose'|trans }}</option>
							<option value="asc">{{ 'mma.categories.filtre.pricedescending'|trans }}</option>
							<option value="desc">{{ 'mma.categories.filtre.priceascending'|trans }}</option>
						</select>
					</div>
					<div class="form-group">
						<label>{{ 'mma.categories.filtre.productoffer'|trans }}</label> <input type="checkbox" id="action" name="action"></input>
					</div>
                    <div class="form-group">
                    	<button type="submit" class="btn pull-right" style="background-color: lightgreen; color:#fff">{{ 'mma.categories.filtre.filter'|trans }}</button>
                    </div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="row divider"></div>
<div class="row">
	<div class="col-lg-6">
		{{ cat }}
	</div>
	<div class="col-lg-6">
		<p class="pull-right">
			{{ 'mma.categories.productcount'|trans(productCount) }}
		</p>
	</div>
</div>
<div class="row">
	<div
		class="col-lg-9></div>
		<div class="col-lg-3">
			<div class="form-group-row pull-right">
				{{ 'mma.categories.displayas'|trans }}
				<div class="btn-group-vertical">
					<a class="btn fa fa-list" 
						href="/{{ app.request.locale }}/categories/{{ cat }}?affichage=lst"
						style="font-size: 30px; color: #33cc33"></a>
					<p style="font-size: 10px">{{ 'mma.categories.displayaslist'|trans }}</p>
				</div>
				<div class="btn-group-vertical">
					<a class="btn fa fa-th-large"
						href="/{{ app.request.locale }}/categories/{{ cat }}?affichage=gr"
						style="font-size: 30px; color: #33cc33"></a>
					<p style="font-size: 10px">{{ 'mma.categories.displayasgrid'|trans }}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row divider"></div>
	<div class="row">

		{%   if affichage == 'gr' %}
		{% for produit in produits %}
		<div class="col-md-4">
			<div class="thumbnail card">
				<a
				href="{{ path('produit_controller_produit',{'_locale':app.request.locale,'id':produit.id}) }}"
				style="float: left"><img
				src="/uploads/brochures/{{ produit.image }}"
				style="width: 250px; min-height: 250px" class="img-rounded" /></a>
			
				</a>
					
					<div style="margin-top:20px">
						<p>{{ produit.nom|upper }} (<b style="color:darkorange">{{ produit.prix }} Euro</b>)</p>
					</div>
				<div class="btn-group" style="width:100%">
					<a class="btn btn-success fa fa-shopping-cart" href="{{ path('produit_controller_actualise',{'id':produit.id,'_locale':app.request.locale,'cat':cat, 'affichage':affichage}) }}"
						style="font-size: 20px;width:30%"></a>
					<p class="btn" style="width:70%" disabled>{{ 'mma.categories.addtoshoppingcard'|trans }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
		{% elseif affichage == 'lst' %}
		<table>
			<tbody>
				{% for produit in produits %}
				<tr>
					<td><div class="thumbnail"><img src="/uploads/brochures/{{produit.image}}"
						height="200px" width="200px" class="img-rounded"></img></div></td>
					<td><p>
							{{ produit.nom }}
						</p>
						</br>
						<p style="font-weight: bold">
							{{ produit.prix }}
							Euro
						</p>
						<br />
						<div class="btn-group" style="width:100%">
							<a class="btn btn-success fa fa-shopping-cart" href="{{ path('produit_controller_actualise',{'id':produit.id,'_locale':app.request.locale,'cat':cat, 'affichage':affichage}) }}"
									style="font-size: 20px;width:30%"></a>
							<button type="button" class="btn" style="width:70%">Add to basket</button>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}

	</div>
	<script>
	$( function() {
		$( "#slider-range" ).slider({
			range: true,
			min: 0,
			max: 500,
			values: [ 0, 500 ],
			slide: function( event, ui ) {
				$( "#minprice" ).val( ui.values[ 0 ]);
				$( "#maxprice" ).val( ui.values[ 1 ] );
			}
		});
		$( "#minprice" ).val($( "#slider-range" ).slider( "values", 0 ));
		$( "#maxprice" ).val($( "#slider-range" ).slider( "values", 1 ));
	} );
	
function toggleShowEraser() {
    var x = document.getElementById("eraser");
    if (x.style.display === "none") {
        x.style.display = "inline";
    } else {
        x.style.display = "none";
    }
}

function resetFilter(){
		$( "#slider-range" ).slider({
			range: true,
			min: 0,
			max: 500,
			values: [ 0, 500 ],
			slide: function( event, ui ) {
				$( "#minprice" ).val(ui.values[ 0 ]);
				$( "#maxprice" ).val(ui.values[ 1 ]);
			}
		});
		
		$( "#minprice" ).val("0");
		$( "#maxprice" ).val("500");
		document.getElementById("action").checked = false;
		document.getElementById("sortby").selectedIndex = "0"; 
}
</script>
	{% endblock %}
{% block stylesheets %}

	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

	{% block javascripts %}
	<script src="{{asset('js/categories.js')}}"></script>
	
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	{% endblock %}