
{% block body %}
	<div class="form-group" class="col-lg-12" >
		<input id="tfFiltreRecette" type="text" onchange="chercherCompte()"
			class="form-control" placeholder="{{ 'mma.recipecatalog.searchrecipe'|trans }}">
	</div>
	<table class="col-lg-12">
		<thead>
			<th>{{ 'mma.recipecatalog.recipename'|trans }}</th>
			<th>-</th>
			<th><a href="" class="fa fa-plus-circle" data-toggle="modal"
				data-target="#creerRecetteModal" style="color:#33cc33;font-size:30px; text-align: center;align-content:center;text-underline: none;text-decoration: none"></a></th>
		</thead>
		<tbody id="tbRecettes">
			{% for recette in recettes %}
			<tr>
				<td>{{ recette.nom }}</td>
				<td><a class="fa fa-edit"
					href="{{ path('configure_recette_controller_configure_recette',{'id':recette.id}) }}"></a></td>
				
				<td ><a class="fa fa-trash" style="margin-left: 10px; color:red"
					data-toggle="modal" data-target="#confirmModal{{ recette.id }}"></a></td>
			</tr>
			{{  include("confirm/confirm.html.twig", {'stepId':recette.id,'todo':'remove_recette', 'recetteId':recette.id, 'message':'Voulez vous vraiment suprimer cette recette?'}) }}
			{% endfor %}
		</tbody>
	</table>
{{  include("configuration/recettes/editer-recette.html.twig") }}
	<script>
    $("#tfFiltreRecette").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#tbRecettes tr").filter(function() {
			$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
	</script>
{% endblock %}

