
<div class="col-lg-12 form-group">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{ 'mma.payement.verifyyourdata'|trans }}
		</div>
		<div class="panel-body">
			<table>
				<tr>
					<td>KUNDENNUMMER:</td>
					<td>{{ app.session.get('compte').id }}</td>
				</tr>
				<tr>
					<td>NOM ET PRENOM:</td>
					<td>{{ app.session.get('compte').nom }} {{ app.session.get('compte').prenom }}</td>
				</tr>
			</table>
			<div class="divider"></div>
			<table>
				<tr>
					<td>BOITE POSTALE & VILLE:</td>
					<td>{{ app.session.get('deliveryAdress').boitePostale }} {{ app.session.get('deliveryAdress').ville }}
					</td>
				</tr>
				<tr>
					<td>RUE:</td>
					<td>{{ app.session.get('deliveryAdress').rueEtNr }}</td>
				</tr>
			</table>
			<div class="divider"></div>
			<table>
				<tr>
					<td>MOYEN DE LIVRAISON:</td>
					<td>{{ app.session.get('deliveryWay') }}</td>
				</tr>
			</table>
			
			<div class="divider"></div>
			<table class="table">
				{%   for panierItem in app.session.get('panier').panieritems %}
				<tr valign="center">
					<table>
						<tr>
							<td>
									<b>{{  panierItem.produit.nom }} ({{  panierItem.quantite }} )</b>
								</td>
								<td>{{ 'mma.deliveryway.unitprice'|trans }}: {{  panierItem.produit.prix }}
								€</td>
						</tr>
					</table>
					</td>

				</tr>
				{%  endfor %}
			</table>
		</div>
	</div>
</div>
<div class="col-lg-12 form-group">
			<div id="paypal-button-container" ></div>
</div>


<script>
	paypal.Button.render(
					{

						// Set your environment

						env : 'sandbox', // sandbox | production

						// Specify the style of the button

						style : {
							label : 'buynow',
							fundingicons : true, // optional
							branding : true, // optional
							size : 'responsive', // small | medium | large | responsive
							shape : 'rect', // pill | rect
							color : 'gold' // gold | blue | silve | black
						},

						// PayPal Client IDs - replace with your own
						// Create a PayPal app: https://developer.paypal.com/developer/applications/create

						client : {
							sandbox : 'AVEPKQ8MSHlH6B0-KWLeH7i6dJ3P46uywQCVFZie5S4ovY6ZIPdMM6Ge3i5gDPYcsLiwF-wAhF7ZOk78',
							production : 'AVXz4hEbQfMz46h9mv6d-wRsRtyu7b9Xi6HPDasVOGgENJmGyLxpZ-6cnvkjk13OuFCgE6L0TG_ii5_J'
						},

						// Wait for the PayPal button to be clicked

						payment : function(data, actions) {
							return actions.payment.create({
								transactions : {{transacts}}
									/*[{
								    amount:
								    {
								      total: "30.11",
								      currency: "USD",
								      details:
								      {
								        subtotal: "30.00",
								        tax: "0.07",
								        shipping: "0.03",
								        handling_fee: "1.00",
								        shipping_discount: "-1.00",
								        insurance: "0.01"
								      }
								    },
								    description: "This is the payment transaction description.",
								    custom: "EBAY_EMS_90048630024435",
								    invoice_number: "48787589673",
								    payment_options:
								    {
								      allowed_payment_method: "INSTANT_FUNDING_SOURCE"
								    },
								    soft_descriptor: "ECHI5786786",
								    item_list:
								    {
								      items: [
								      {
								        name: "hat",
								        description: "Brown color hat",
								        quantity: "5",
								        price: "3",
								        tax: "0.01",
								        sku: "1",
								        currency: "USD"
								      },
								      {
								        name: "handbag",
								        description: "Black color hand bag",
								        quantity: "1",
								        price: "15",
								        tax: "0.02",
								        sku: "product34",
								        currency: "USD"
								      }],
								      shipping_address:
								      {
								        recipient_name: "Hello World",
								        line1: "4thFloor",
								        line2: "unit#34",
								        city: "SAn Jose",
								        country_code: "US",
								        postal_code: "95131",
								        phone: "011862212345678",
								        state: "CA"
								      }
								    }
								  }]*/
							});
						},

						// Wait for the payment to be authorized by the customer

						onAuthorize : function(data, actions) {
							return actions.payment.execute().then(function() {
								window.alert('Payment Complete!');

							});
						}

					}, '#paypal-button-container');
</script>
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/proceedpayement.css') }}" />
{% endblock %}
