
<div class="col-lg-12 form-group">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{ 'mma.payement.verifyyourdata'|trans }}
		</div>
		<div class="panel-body">
			<table>
				<tr>
					<td>KUNDENNUMMER:</td>
					<td>{{ app.session.get('compte').id }}</td>
				</tr>
				<tr>
					<td>NOM ET PRENOM:</td>
					<td>{{ app.session.get('compte').nom }} {{ app.session.get('compte').prenom }}</td>
				</tr>
			</table>
			<div class="divider"></div>
			<table>
				<tr>
					<td>BOITE POSTALE & VILLE:</td>
					<td>{{ app.session.get('deliveryAdress').boitePostale }} {{ app.session.get('deliveryAdress').ville }}
					</td>
				</tr>
				<tr>
					<td>RUE:</td>
					<td>{{ app.session.get('deliveryAdress').rueEtNr }}</td>
				</tr>
			</table>
			<div class="divider"></div>
			<table>
				<tr>
					<td>MOYEN DE LIVRAISON:</td>
					<td>{{ app.session.get('deliveryWay') }}</td>
				</tr>
			</table>
			
			<div class="divider"></div>
			<table class="table">
				{%   for panierItem in app.session.get('panier').panieritems %}
				<tr valign="center">
					<table>
						<tr>
							<td>
									<b>{{  panierItem.produit.nom }} ({{  panierItem.quantite }} )</b>
								</td>
								<td>{{ 'mma.deliveryway.unitprice'|trans }}: {{  panierItem.produit.prix }}
								€</td>
						</tr>
					</table>
					</td>

				</tr>
				{%  endfor %}
			</table>
		</div>
	</div>
</div>
<div class="col-lg-12 form-group">
			<div id="paypal-button-container" ></div>
</div>


<script>
	paypal.Button.render(
					{

						// Set your environment

						env : 'sandbox', // sandbox | production

						// Specify the style of the button

						style : {
							label : 'buynow',
							fundingicons : true, // optional
							branding : true, // optional
							size : 'responsive', // small | medium | large | responsive
							shape : 'rect', // pill | rect
							color : 'gold' // gold | blue | silve | black
						},

						// PayPal Client IDs - replace with your own
						// Create a PayPal app: https://developer.paypal.com/developer/applications/create

						client : {
							sandbox : 'AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R',
							production : '<insert production client id>'
						},

						// Wait for the PayPal button to be clicked

						payment : function(data, actions) {
							return actions.payment.create({
								transactions : [ {
									amount : {
										total : '0.01',
										currency : 'USD'
									}
								} ]
							});
						},

						// Wait for the payment to be authorized by the customer

						onAuthorize : function(data, actions) {
							return actions.payment.execute().then(function() {
								window.alert('Payment Complete!');

							});
						}

					}, '#paypal-button-container');
</script>
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/proceedpayement.css') }}" />
{% endblock %}
