	
		<div class="row">
			<div class="col-lg-12">
    			<form action="/{{ app.request.locale }}/add-delivery-adress-to-session" method="post">
    				<div class="form-group" style="margin-left: 10px">
    					<label for="adresse">{{ 'mma.verifyadress.choosedeliveryadress'|trans }}:</label> 
    					<select onchange="selectDeliveryAddress(this.value)" name="deliveryAdress"
    						class="form-control" id="adresse" name="adresseSelectionee">
    						<option value="">-- {{'mma.verifyadress.choosedeliveryadress'|trans}} --</option>
    						{% for adresse in adresses %}
    						<option  value={{ adresse.id }} name='adressId'>{{ adresse.rueEtNr }} </option>
    						{% endfor %}
    					</select>
    				</div>
    			</form>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 form-group">
    				<div class="panel panel-default">
    					<div class="panel-heading">
    					    {{ 'mma.verifyadress.deliveryaddress'|trans }}
    					    <div class="pull-right"><a class="fa fa-plus-circle" style="color:#33cc33" href="{{ path('commander_controller_ajouter_adresse',{'id': app.session.get('compte').id,'_locale':app.request.locale }) }}"></a></div>
    					</div>
    					<div class="panel-body">
        						{% for adresse in adresses %}
        						{{ adresse.boitePostale }} {{ adresse.ville }}; {{ adresse.rueEtNr }} </br>
        						<div class="divider"></div>
        						{% endfor %}
    					</div>
    			</div>
    		</div>
    	</div>
	
<script language = "javascript"> 

		function myFunction() {
		    var x = document.getElementById("adresse").value;
		    $('.panel-body').html(x);
		}

		function selectDeliveryAddress(adressId) {
			if(adressId != '' ){
				$(document).ready(function(){  
					$.ajax({  
	                    url:        '/add-delivery-adress-to-session/'+adressId,  
	                    type:       'POST',   
	                    dataType:   'json',
	                    data : {
	                    	search: adressId
	                    }, 
	                    async:      true,  
	                    success: function(data, status) { 
							alert("yes");
		                      
	                    },  
	                    error : function(xhr, textStatus, errorThrown) {  
	               	 		alert('INVALID ADRESS');  
	                    }  
	    			});
				});
			}else {
                $('#continue').html('<button class="btn" disabled>{{ 'mma.verifyadress.continue'|trans }}</a>');
			}
		}
   </script>
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/proceedpayement.css') }}" />
{% endblock %}

