
<div class="menu-bar">
	<a  href="/{{ app.request.locale  }}" class="{{ activehome }}">{{ 'mma.home'|trans }}</a>
	<a  href="/{{ app.request.locale  }}/categories/1?affichage=gr" class="{{ activecategorie }}">{{ 'mma.category'|trans }}</a>
	<a  href="/{{ app.request.locale  }}/quelque-recettes" class="{{ activerecettes }}">{{ 'mma.somerecipes'|trans }}</a>
	<a  href="/{{ app.request.locale  }}/livraison" class="{{ activelivraison }}">{{ 'mma.delivery'|trans }} </a>
	<a  href="/{{ app.request.locale  }}/contact" class="{{ activecontact }}">{{ 'mma.contact'|trans }}</a>
</div>

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/menu-bar.css') }}" />
{% endblock %}