
<div class="menu-bar">
	<a  href="/{{ app.request.locale  }}">{{ 'mma.home'|trans }}
	</a>
	<a  href="/{{ app.request.locale  }}/categories/fruits?affichage=gr">{{ 'mma.category'|trans }}</a>
	<a  href="/{{ app.request.locale  }}/quelque-recettes">{{ 'mma.somerecipes'|trans }}</a>
	<a  href="/{{ app.request.locale  }}/livraison">{{ 'mma.delivery'|trans }} </a>
	<a  href="/{{ app.request.locale  }}/contact">{{ 'mma.contact'|trans }}</a>
</div>

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/menu-bar.css') }}" />
{% endblock %}