
	<ul id="tree">
		<li class="list-group" ><a
			href="/{{ app.request.locale }}/categories/0000000000000001?affichage=gr">{{ 'mma.leftmenu.fruits'|trans }}</a></li>
		<li ><a href="/{{ app.request.locale }}/categories/0000000000000010?affichage=gr">{{ 'mma.leftmenu.vegetables'|trans }}</a></li>
		<li ><a href="/{{ app.request.locale }}/categories/0000000000000011?affichage=gr">{{ 'mma.leftmenu.flourandsemolina'|trans }}</a></li>
		<li ><a  href="#collapsePoissonsCrustaces" id="collapsePoissonsCrustacesHref">{{ 'mma.leftmenu.fishandshellfish'|trans }}</a>
    		<ul>
    			<li><a href="/{{ app.request.locale }}/categories/0000000000000101?affichage=gr">{{ 'mma.leftmenu.fishandshellfishraw'|trans }}</a></li>
    			<li><a href="/{{ app.request.locale }}/categories/0000000000000110?affichage=gr">{{ 'mma.leftmenu.fishandshellfishsmoke'|trans }}</a></li>
    		</ul>
		</li>
		<li ><a href="#collapseViande" id="collapseViandeHref">{{ 'mma.leftmenu.meat'|trans }}</a>
			<ul>
    			<li><a href="/{{ app.request.locale }}/categories/0000000000001000?affichage=gr">{{ 'mma.leftmenu.meatraw'|trans }}</a></li>
    			<li><a href="/{{ app.request.locale }}/categories/0000000000000111?affichage=gr">{{ 'mma.leftmenu.meatsmoke'|trans }}</a></li>
			</ul>
		</li>
		<li ><a
			href="/{{ app.request.locale }}/categories/0000000000001001?affichage=gr">{{ 'mma.leftmenu.cans'|trans }}</a></li>
		<li ><a
			href="/{{ app.request.locale }}/categories/0000000000001011?affichage=gr">{{ 'mma.leftmenu.spices'|trans }}</a></li>
	</ul>
    						
	<script>
	$.fn.extend({
	    treed: function (o) {
	      
	      var openedClass = 'glyphicon-minus-sign';
	      var closedClass = 'glyphicon-plus-sign';
	      
	      if (typeof o != 'undefined'){
	        if (typeof o.openedClass != 'undefined'){
	        openedClass = o.openedClass;
	        }
	        if (typeof o.closedClass != 'undefined'){
	        closedClass = o.closedClass;
	        }
	      };
	      
	        //initialize each of the top levels
	        var tree = $(this);
	        tree.addClass("tree");
	        tree.find('li').has("ul").each(function () {
	            var branch = $(this); //li with children ul
	            branch.prepend("<i class='indicator glyphicon " + closedClass + "'></i>");
	            branch.addClass('branch');
	            branch.on('click', function (e) {
	                if (this == e.target) {
	                    var icon = $(this).children('i:first');
	                    icon.toggleClass(openedClass + " " + closedClass);
	                    $(this).children().children().toggle();
	                }
	            })
	            branch.children().children().toggle();
	        });
	        //fire event from the dynamically added icon
	      tree.find('.branch .indicator').each(function(){
	        $(this).on('click', function () {
	            $(this).closest('li').click();
	        });
	      });
	        //fire event to open branch if the li contains an anchor instead of text
	        tree.find('.branch>a').each(function () {
	            $(this).on('click', function (e) {
	                $(this).closest('li').click();
	                e.preventDefault();
	            });
	        });
	        //fire event to open branch if the li contains a button instead of text
	        tree.find('.branch>button').each(function () {
	            $(this).on('click', function (e) {
	                $(this).closest('li').click();
	                e.preventDefault();
	            });
	        });
	    }
	});

	//Initialization of treeviews

	$('#tree').treed();

</script>

