{% extends 'admin/admin-template.html.twig' %}

{% block body %}
{{  include("commun/error-info-success.html.twig") }}

	<div class="tab" style="padding:0px; width: 20%;float:left;">
      <button class="tablinks" onclick="openCity(event, 'recettes')" id="defaultOpen">{{'mma.configuration.recipes'|trans }}</button>
      <button class="tablinks" onclick="openCity(event, 'produits')">{{ 'mma.configuration.products'|trans }}</button>
      <button class="tablinks" onclick="openCity(event, 'clients')">{{ 'mma.configuration.clients'|trans }}</button>
    </div>

    <div style="width: 80%; float:left; height:100%; padding-top: 1%" ng-app="myApp" ng-controller="myCtrl">
		<div id="recettes" class="tabcontent">
        	 {{  include("configuration/recettes/catalogue-des-recettes.html.twig") }}
        </div>
        
        <div id="produits" class="tabcontent">
            {{  include("configuration/produits/catalogue-produit.html.twig") }}
        </div>
        
        <div id="clients" class="tabcontent">
            {{  include("configuration/clients/catalogue-clients.html.twig") }}
        </div>
        
<div class="modal-footer">
	<button type="submit" class="btn michou-btn">{{ 'mma.configuration.save.edited.product'|trans }}</button>
	<a href="{{ path('configuration_controller_init_view',{'cfg':'prod'}) }}" class="btn btn-default">Annuler</a>
</div>
        <div id="produitModal" id="contact_dialog" class="modal fade" role="dialog">
        	<div class="modal-dialog modal-lg">
        
        		<!-- Modal content-->
        		<div class="modal-content">
        			<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal">&times;</button>
        				<h4 class="modal-title">Inserer un produit</h4>
        			</div>
        			<div class="modal-body">
                        {{ include('configuration/produits/create-edit.html.twig') }}
        			</div>
        		</div>
        	</div>
        </div>
   	</div>
	<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

	// Get the element with id="defaultOpen" and click on it
	document.getElementById("defaultOpen").click();
	$(function() {
		$(".sortable").sortable({
			containment : "parent",
			placeholder : "ui-state-highlight"
		});
	});
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope) {
	    $scope.actionFin = "";
	});

</script>					
 
{% endblock %}
