{% extends 'admin/admin-template.html.twig' %}

{% block body %}
{{  include("commun/error-info-success.html.twig") }}

	<div class="tab" style="padding:0px; width: 20%;float:left;">
      <button class="tablinks" onclick="openCity(event, 'produits')" id="defaultOpen">{{ 'mma.configuration.products'|trans }}</button>
      <button class="tablinks" onclick="openCity(event, 'recettes')">{{'mma.configuration.recipes'|trans }}</button>
      <button class="tablinks" onclick="openCity(event, 'clients')">{{ 'mma.configuration.clients'|trans }}</button>
      <button class="tablinks" onclick="openCity(event, 'categories')">{{ 'mma.configuration.categories'|trans }}</button>
    </div>

    <div style="width: 80%; float:left; height:100%; padding-top: 1%" ng-app="myApp" ng-controller="myCtrl">
        <div id="produits" class="tabcontent">
            {{  include("configuration/produits/catalogue-produit.html.twig") }}
        </div>
        
		<div id="recettes" class="tabcontent">
        	 {{  include("configuration/recettes/catalogue-des-recettes.html.twig") }}
        </div>
        
        <div id="clients" class="tabcontent">
            {{  include("configuration/clients/catalogue-clients.html.twig") }}
        </div>
        
        <div id="categories" class="tabcontent">
            {{  include("configuration/categories/categories.html.twig") }}
        </div>

   	</div>
	<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

	// Get the element with id="defaultOpen" and click on it
	document.getElementById("defaultOpen").click();
	$(function() {
		$(".sortable").sortable({
			containment : "parent",
			placeholder : "ui-state-highlight"
		});
	});

</script>					
 
{% endblock %}
{% block stylesheets %}

<link href="{{ asset('css/configuration.css') }}" rel="stylesheet" />
{% endblock %}
